@model LopHocTrucTuyen.Models.KhoaHoc

<div class="modal-header">
    <h5 class="modal-title">Tạo Khóa Học Mới</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    @using (Html.BeginForm("XuLyTaoKH_1", "GiangVien", FormMethod.Post, new { id = "createKhoaHocForm" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TenKhoaHoc)
            @Html.TextBoxFor(model => model.TenKhoaHoc, new { @class = "form-control", placeholder = "Tên khoá học" })
            @Html.ValidationMessageFor(model => model.TenKhoaHoc)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MoTa)
            @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", placeholder = "Mô tả khoá học", rows = 4 })
            @Html.ValidationMessageFor(model => model.MoTa)
            <p>Giới hạn: 255 kí tự</p>
        </div>
        <button type="submit" class="btn btn-primary">Tạo Khóa Học</button>
    }
</div>

