@{
    ViewBag.Title = "Administrators";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}
@model IEnumerable<LopHocTrucTuyen.Models.QuanTriVien.QuanTriVienModel>

<div style="width: 100%; padding: 8px 16px;">
    <h1 style="color: #fff; font-size: 20px;">Danh sách</h1>
    <div style="display: flex; align-items: center; column-gap: 8px; margin-top: 15px;">
        <i class="fa-solid fa-house-chimney" style="color: #dadada"></i>
        <i class="fa-solid fa-chevron-right" style="color: #dadada"></i>
        <span style="color: #dadada; font-size: 16px;">Quản trị viên</span>
        <i class="fa-solid fa-chevron-right" style="color: #dadada"></i>
        <span style="color: white; font-size: 16px;">Danh sách</span>
    </div>

    <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 20px; padding: 16px; border: 1px solid #dadada;">
        <div style="background-color: #e9ecef; display: flex;">
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Mã người dùng</span>
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Họ tên</span>
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Tên đăng nhập</span>
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Trạng thái</span>
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Tên nhóm</span>
            <span class="col-md-2" style="text-align: center; padding: 10px 8px;">Thao tác</span>
        </div>
        <div style="display: flex; flex-wrap: wrap; align-items: center; border: 1px solid #dadada; border-bottom: 0px;">
            @foreach (var user in Model)
            {
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada">@user.MaNguoiDung</span>
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; ">@user.HoTen</span>
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; ">@user.TenDangNhap</span>
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; ">@user.TrangThai</span>
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; ">@user.TenNhom</span>
                <span class="col-md-2" style="justify-content: center; display: flex; align-items: center; height: 35px; border-bottom: 1px solid #dadada; ">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" style="height: 20px; width: 20px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                        </svg>
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" style="height: 20px; width: 20px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                        </svg>
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" style="height: 20px; width: 20px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                        </svg>
                    </button>
                </span>
            }
        </div>
    </div>
</div>

