@model LopHocTrucTuyen.Models.QuanTriVien.ThemGiangVienModel
@using LopHocTrucTuyen.Models.QuanTriVien
@{
    ViewBag.Title = "ThemGiangVien";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}

<div>
    <header style="background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0px 16px; border-bottom: 1px solid #edede9; height: 80px;">
        <div style="display: flex; align-items: center; column-gap: 8px;">
            <i class="fa-solid fa-bars" style="color: black; font-size: 20px;"></i>
            <h2 style="font-size: 18px; color: #000; font-weight: 500;">Quản lý người dùng</h2>
        </div>
        <div style="position: relative">
            <button onclick="handleClickUser(event)" style="display: flex; align-items: center; column-gap: 4px; color: #000">
                <span style="font-size: 16px; font-weight: 500; color: #000">
                    Xin chào,
                    @if (Session["user"] != null)
                    {
                        NguoiDung user = Session["user"] as NguoiDung;
                        <span>@user.TenDangNhap</span>
                    }
                </span>
                <img src="~/Content/QuanTriVien/avatar.jpg" alt="Alternate Text" style="width: 30px; height: 30px; border-radius: 999px;" />
            </button>
            <div style="position: absolute; right: 0; top: 25px;" class="user">
                <div class="d-flex flex-column mt-3 user__body">
                    <a class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; display: block; text-align: center; font-size: 15px;">Thông tin tài khoản</a>
                    <a href="/QuanTriVien/DangXuat" class="user__btn" style="padding: 8px 8px; border: 1px solid #f2f2f2; border-top: 0px; display: block; text-align: center; font-size: 15px;">Đăng xuất</a>
                </div>
            </div>
        </div>
    </header>

    <div style="padding: 4px 16px;">
        <div class="d-flex gap-2 mt-2">
            <i style="color: #343a40" class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #343a40">Danh sách giảng viên</span>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #000; ">Thêm giảng viên</span>
        </div>
        <h1 style="font-size: 24px; font-weight: 600; color: #000; margin-top: 20px;">Thêm Giảng viên</h1>
        <div style="background-color: #fff; border-radius: 5px; height: 500px; overflow-y:auto;  width: 100%; margin-top: 20px; padding: 8px 16px 25px; border: 1px solid #dadada; width: 100%;">
            <form id="myForm2" action="/QuanTriVien/ThemGiangVien" method="post">
                <div class="d-flex align-items-center mt-2" style="column-gap: 30px; width: 100%">
                    <div class="w-25">
                        <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputTenNguoiDung">Tên đăng nhập: </label>
                        @Html.TextBoxFor(model => model.TenDangNhap, new { @id = "TenDangNhap1", @class = "form-control mt-2", placeholder = "Nhập tên đăng nhập", })
                        @if (ViewBag.errTenDangNhap1 != null)
                        {
                            <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenDangNhap1">@ViewBag.errTenDangNhap1</span>
                        }
                        else
                        {
                            <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenDangNhap1"></span>
                        }
                    </div>
                    <div class="w-25">
                        <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputMatKhau">Mật khẩu: </label>
                        @Html.TextBoxFor(model => model.MatKhau, new { @id = "MatKhau1", @class = "form-control mt-2", placeholder = "Nhập mật khẩu" })
                        <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errMatKhau1"></span>
                    </div>
                </div>
                <div class="mt-2">
                    <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputEmail">Email: </label>
                    @Html.TextBoxFor(model => model.Email, new { @id = "Email1", @class = "form-control mt-2 w-25", placeholder = "Nhập email" })
                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errEmail1"></span>
                </div>
                <div class="mt-2">
                    <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputHoTen">Họ tên: </label>
                    @Html.TextBoxFor(model => model.HoTen, new { @id = "HoTen1", @class = "form-control mt-2 w-25", placeholder = "Nhập họ tên" })
                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errHoTen1"></span>
                </div>
                <div class="mt-2">
                    <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputEmail">Số điện thoại: </label>
                    @Html.TextBoxFor(model => model.SoDienThoai, new { @id = "SoDienThoai1", @class = "form-control mt-2 w-25", placeholder = "Nhập số điện thoại" })
                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errSoDienThoai1"></span>
                </div>
                <div class="mt-2">
                    <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputEmail">Địa chỉ: </label>
                    @Html.TextBoxFor(model => model.DiaChi, new { @id = "DiaChi1", @class = "form-control mt-2 w-50", placeholder = "Nhập địa chỉ" })
                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errDiaChi1"></span>
                </div>
                <div class="mt-2">
                    <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputEmail">Chuyên ngành: </label>
                    @Html.TextBoxFor(model => model.ChuyenNganh, new { @id = "ChuyenNganh1", @class = "form-control mt-2 w-25", placeholder = "Nhập chuyên ngành" })
                    <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errChuyenNganh1"></span>
                </div>
                <div class="d-flex align-items-center gap-2 mt-2">
                    <button id="btnClearForm" class="btn btn-danger">Xóa</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
